<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" #exerciseForm="ngForm">
      <div class="form-group">
        <label>Email:</label>
        <input type="text" class="form-control" name="email" ngModel email #email="ngModel">
        <span class="help-block" *ngIf="!email.valid && email.touched">
          Email is invalid!
        </span>
      </div>
      <div class="form-group">
        <label>Subscriptions:</label>
        <select name="subscription" class="form-control" [ngModel]="'advanced'">
          <option value="basic">Basic</option>
          <option value="advanced">Advanced</option>
          <option value="pro">Pro</option>
        </select>
      </div>
      <div class="form-group">
        <input type="password" name="password" class="form-control" ngModel required #password="ngModel">
        <span class="help-block" *ngIf="!password.valid && password.touched">
          Password is missing!
        </span>
      </div>
      <span class="help-block" *ngIf="!exerciseForm.valid && exerciseForm.touched">
        This form is invalid!
      </span>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>
